<div class="flex">
    <a href="https://twitter.com/RMacwha" class="flex-initial text-white hover:text-gray-300 text-3xl transition cursor-pointer">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/robert-macwha-0555141b6/" class="flex-initial text-white hover:text-gray-300 text-3xl ml-6 transition cursor-pointer">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://macwha.medium.com/" class="flex-initial text-white hover:text-gray-300 text-3xl ml-6 transition cursor-pointer">
        <i class="fa fa-medium"></i>
    </a>
    <a href="https://github.com/Robert-MacWha" class="flex-initial text-white hover:text-gray-300 text-3xl ml-6 transition cursor-pointer">
        <i class="fa fa-github"></i>
    </a>
</div>