<div class="flex">
    <a href="#" class="flex-initial text-white hover:text-gray-400 text-3xl transition cursor-pointer">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="flex-initial text-white hover:text-gray-400 text-3xl ml-6 transition cursor-pointer">
        <i class="fa fa-linkedin"></i>
    </a>
    <a href="#" class="flex-initial text-white hover:text-gray-400 text-3xl ml-6 transition cursor-pointer">
        <i class="fa fa-medium"></i>
    </a>
    <a href="#" class="flex-initial text-white hover:text-gray-400 text-3xl ml-6 transition cursor-pointer">
        <i class="fa fa-github"></i>
    </a>
</div>